<p-card>
  <h2>Air Quality</h2>
  <div class="content" *ngIf="airQuality">
    <div class="index-info-container">
      <img class="index-image" [src]="airQuality.indexImageUrl" />
      <div class="index-name">{{ airQualityIndexName }}</div>
    </div>
    <div class="p-grid components-container">
      <div class="p-col-6" *ngFor="let component of airQuality.components">
        <app-title-value
          [title]="component.name"
          [value]="component.value + ' μm/m3'"
          class="p-mb-1"
        >
        </app-title-value>
        <div class="percentage-value">
          {{ component.percentageOfStandardValue + ' %' }}
        </div>
      </div>
    </div>
  </div>
</p-card>
