<p-card>
  <div *ngIf="showType === HOURLY_SHOW.weather && weatherForecast">
    <span>
      {{ weatherForecast.weather.description }}
    </span>
    <span [innerHTML]="'Perceived: ' + weatherForecast.temp + '&deg'"> </span>
    <div class="p-grid">
      <app-title-value
        title="Rain"
        [value]="weatherForecast.rain + 'mm'"
        class="p-col-4"
      ></app-title-value>
      <app-title-value
        title="Wind"
        [value]="weatherForecast.rain + 'km/h'"
        class="p-col-4"
      ></app-title-value>
      <app-title-value
        title="Humidity"
        [value]="weatherForecast.rain + '%'"
        class="p-col-4"
      ></app-title-value>
      <app-title-value
        title="Snow"
        [value]="weatherForecast.rain + 'mm'"
        class="p-col-4"
      ></app-title-value>
      <app-title-value
        title="Pressure"
        [value]="weatherForecast.rain + 'hPa'"
        class="p-col-4"
      ></app-title-value>
      <app-title-value
        title="Cloudy"
        [value]="weatherForecast.rain + '%'"
        class="p-col-4"
      ></app-title-value>
    </div>
  </div>
</p-card>
