<p-card class="flex">
  <div id="cityData">{{ cityData }}</div>
  <div>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <span class="p-input-icon-right">
        <i class="pi pi-search" *ngIf="!isFormEmpty()" (click)="onSubmit()"></i>
        <i
          class="pi pi-compass"
          *ngIf="isFormEmpty()"
          (click)="getUserLocation()"
        ></i>
        <input
          type="text"
          pInputText
          placeholder="Enter the name of the city"
          formControlName="city"
        />
      </span>
      <small class="p-error" *ngIf="errorMsg">
        {{ errorMsg }}
      </small>
    </form>
  </div>
</p-card>
