p-card div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &.header {
    padding: 10px;
    text-align: center;
    h2 {
      margin-top: 0;
    }
  }

  &.weather {
    margin-bottom: 2rem;

    span:first-child {
      font-size: 96px;
      margin-bottom: 10px;
      margin-top: -3rem;
    }
  }

  &.footer {
    button {
      transition-timing-function: ease-in-out;
      transition: 0.25s;

      &.rotate {
        transform: rotate(180deg);
      }
    }
  }
}
app-hourly-details {
  width: calc(100% - 2 * 48px);
  margin: 0 auto;
  display: block;
}
