<div *ngIf="isSmallScreen()">
  <p-dropdown
    [options]="hourlyShowDropdown"
    [(ngModel)]="currentShow"
    optionLabel="value"
    optionValue="value"
  ></p-dropdown>
</div>

<div *ngIf="!isSmallScreen()" class="p-grid">
  <div
    *ngFor="let show of HOURLY_SHOW | keyvalue"
    class="pc-data-selection p-col-6"
    [class.selected]="currentShow === show.value"
    (click)="setCurrentShow(show.value)"
  >
    {{ show.value }}
  </div>
</div>
{{ currentShow | json }}
<!-- <div>
  <div>Arrow left</div>
  <app-hourly-single
    *ngFor="let _ of weatherForecast; let i = index"
    [showType]="currentShow"
    [weatherForecast]="weatherForecast[i]"
    [airQualityForecast]="airQualityForecast[i]"
    (toggleDetails)="toggleDetails(i)"
  ></app-hourly-single>
  <div>Arrow right</div>
</div> -->

<app-hourly-details *ngIf="detailsId !== -1"></app-hourly-details>
