<app-hourly-switch [(showType)]="showType"> </app-hourly-switch>

<p-carousel
  [value]="getForecast()"
  [numVisible]="8"
  [numScroll]="3"
  [responsiveOptions]="responsiveOptions"
  indicatorsContentClass="display: none;"
  (onPage)="pageChanged($event)"
>
  <ng-template let-forecast pTemplate="item">
    <p-card>
      <div class="header">
        <h2>
          {{ forecast.dt * 1000 | date: 'H:mm' }}
        </h2>
      </div>

      <div *ngIf="showType === HOURLY_SHOW.weather" class="weather">
        <span [innerHTML]="(forecast.temp | number: '1.0-0') + '&deg'"> </span>
        <i [class]="'wi wi-large ' + getIcon(forecast)"></i>
      </div>

      <div *ngIf="showType === HOURLY_SHOW.airQuality">
        <img class="index__image" [src]="forecast.indexImageUrl" />
        <div class="index__name">
          {{ getAirQualityIndexName(forecast.index) }}
        </div>
      </div>

      <div class="footer">
        <button
          pButton
          pRipple
          type="button"
          icon="pi pi-chevron-down"
          class="p-button-rounded p-button-text p-button-plain"
          (click)="toggleDetails(forecast.dt || forecast.dt)"
          [class.rotate]="
            detailsDate === forecast.dt || detailsDate === forecast.dt
          "
        ></button>
      </div>
    </p-card>
  </ng-template>
</p-carousel>

<div #details>
  <app-hourly-details
    *ngIf="detailsDate !== null"
    [@inOutAnimation]
    [showType]="showType"
    [weatherForecast]="weatherSelectedTime"
    [airQualityForecast]="airQualitySelectedTime"
  ></app-hourly-details>
</div>
