<p-card>
  <h2>Weather</h2>
  <div class="content">
    <div class="temperature">
      <span [innerHTML]="weatherForecast.temp + '&deg'"> </span>
      <span> Perceived: </span>
      <span [innerHTML]="weatherForecast.temp + '&deg'"> </span>
    </div>

    <div class="details">
      <span>
        {{ weatherForecast.description }}
      </span>
      <div class="p-grid">
        <app-title-value
          title="Rain"
          [value]="weatherForecast.rain + 'mm'"
          class="p-col-4"
        ></app-title-value>
        <app-title-value
          title="Wind"
          [value]="weatherForecast.rain + 'km/h'"
          class="p-col-4"
        ></app-title-value>
        <app-title-value
          title="Humidity"
          [value]="weatherForecast.rain + '%'"
          class="p-col-4"
        ></app-title-value>
        <app-title-value
          title="Snow"
          [value]="weatherForecast.rain + 'mm'"
          class="p-col-4"
        ></app-title-value>
        <app-title-value
          title="Pressure"
          [value]="weatherForecast.rain + 'hPa'"
          class="p-col-4"
        ></app-title-value>
        <app-title-value
          title="Cloudy"
          [value]="weatherForecast.rain + '%'"
          class="p-col-4"
        ></app-title-value>
      </div>
    </div>
  </div>
</p-card>
