<p-carousel
  [value]="getForecast()"
  [numVisible]="8"
  [numScroll]="3"
  [responsiveOptions]="responsiveOptions"
  indicatorsContentClass="display: none;"
>
  <ng-template let-forecast pTemplate="item">
    <p-card>
      <div class="header">
        <h2>
          {{ forecast.time | date: 'H:mm' }}
        </h2>
      </div>

      <div *ngIf="showType === HOURLY_SHOW.weather" class="weather">
        <span [innerHTML]="forecast.temp + '&deg'"> </span>
        <i class="wi wi-night-sleet wi-large"></i>
      </div>

      <div *ngIf="showType === HOURLY_SHOW.airQuality"></div>

      <div class="footer">
        <button
          pButton
          pRipple
          type="button"
          icon="pi pi-chevron-down"
          class="p-button-rounded p-button-text p-button-plain"
          (click)="toggleDetails(forecast.time)"
          [class.rotate]="detailsDate === forecast.time"
        ></button>
      </div>
    </p-card>
  </ng-template>
</p-carousel>

<div #details>
  <app-hourly-details
    *ngIf="detailsDate !== null"
    [@inOutAnimation]
    [showType]="showType"
    [weatherForecast]="weatherSelectedTime"
    [airQualityForecast]="airQualitySelectedTime"
  ></app-hourly-details>
</div>
